*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    scroll-behavior: smooth;
    /* background:black; */

}

#navbar{
    /* position:fixed; */
    background-color:  rgb(214, 20, 85);
    height: 70px;
    /* background-color: rgb(8, 0, 0); */
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}
#logo{
    width:40%;
    color:white;
    
    

}
#logo a{
    font-family:'Roboto', sans-serif ;
    text-decoration: none;
    color: azure;
    font-size: x-large;
    margin-left: 23px;
    /* font-weight:bold; */
}


#menu{
    position: sticky;
    
    display: flex;
    justify-content:center;
    align-items:center;
    margin-left: 300px;
    

   
    width: 70%;
}
#menu a{
    /* background-color: black; */
    /* border-radius: 20px; */
    margin-right: 20px;
    
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    /* background-color: brown; */
    font-size: 15px;
    padding: 9px 18px;

    border-radius: 20px;
}

#menu :hover{
    
    background-color: white;
    color: rgb(214, 20, 85);
    

    

   
}
 


/* Home Page */
#home{
    background: rgb(24, 23, 23);
    
    
    display: flex;
    
  
    
    align-items: center;
    justify-content: center;
    /* flex-wrap: nowrap; */
    width: 100%;
    height: 539px;
    /* background: url('pexels-adrien-olichon-3137078.jpg') no-repeat center; */
    background-size: 1279px;
    /* padding-left: 100px; */
 

    
}
#home div{

    margin-bottom: 30px;
    font-size: x-large;
    letter-spacing: 3px;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Lato', sans-serif;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;    

}
#name{
   
  font-size: 34px;
}


#home div *{

    padding-bottom: 10px;
    /* padding-bottom: 34px;
    margin-bottom: 00px; */
    /* font-size: xx-large; */
}
#btn{
    
    margin-top: 10px;
    cursor: pointer;
    letter-spacing: 2px;
    font: weight 20px;
    border-radius: 10px;
    border: 2px solid rgb(214, 20, 85);
    font-size:15px;
    padding: 12px 17px 0px 17px;
    height: 45px;
    background-color:rgb(214, 20, 85);
}
#btn a{
    text-decoration: none;
    color: white;
}


#btn:hover{
    background-color:rgb(24, 23, 23);
    

    
}
 



#lorem{
    width: 400px;
    font-size: x-small;
}

.fa-download{
    margin: 0;
    padding: 0;
}


/* About me  Page*/

#about{
    height:550px;
}
.container{
    display: flex;
}

.img-container img{
    border-radius: 15px;

    margin-left: 170px;
    /* width: 70%; */
    width: 320px;
}

.about-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    width: 40%;
    margin-bottom: 89px;
}
#about h1{
    font-family: 'Roboto', sans-serif;
    color: rgb(214, 20, 85);
    font-size: xx-large;
    margin: 60px 50px;
    
    display: flex;
    justify-content: center;
    
}
.about-container p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    

}
.about-container a{
    border:2px solid rgb(214, 20, 85);

    background-color: rgb(214, 20, 85);
    color: white;
    padding: 10px 20px;
    font-size: large;
    letter-spacing: 2px;
    text-decoration: none;
    border-radius: 9px;
    margin-right: 376px;
    margin-top: 20px;
}

.about-container a:hover{
    background-color: white;
    color:rgb(214, 20, 85);
}





.about-container h2{

    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 27px;
    margin-bottom: 25px;
    padding-right: 60px;
    

}


/* Project Page */

#project{
    height: 610px;
    background-color: rgb(24, 23, 23);
}
#project h1{
    font-family: 'Roboto', sans-serif;
    color: rgb(214, 20, 85);
    font-size: xx-large;
    padding: 60px 50px;
    display: flex;
    justify-content: center;
}


.carousel{
    height: 250px;
    width: 60%;
    position: relative;
}





/* Contact Page */

#contact{
    height: 610px;
}

#contact h1{
    font-family: 'Roboto', sans-serif;
    color: rgb(214, 20, 85);
    font-size: xx-large;
    padding: 60px 50px;
    display: flex;
    justify-content: center;

}

.contactcontainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
   
}

#inputvalue{
    margin-right: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inputvalue input{
    margin-right: 140px;
    
    width: 450px;
    margin-top:17px ;
    /* line-height: 34px; */
    border: 1px solid gray;
    border-radius: 5px;
    padding:10px 15px;
    
    

}

form{
   margin-left: 130px;
}
#message{
    margin-right:100px;
    padding:10px 15px;
    padding-top: 9px;
    resize: none;
    margin-top:17px ;
    border: 1px solid gray;
    border-radius: 5px;
    
}

#inputvalue button{
    
    margin-top: 10px;
    cursor: pointer;
    letter-spacing: 2px;
    font: weight 20px;
    border-radius: 10px;
    border: 2px solid rgb(214, 20, 85);
    font-size:15px;
    padding: 0px 17px 0px 17px;
    height: 45px;
    background-color:rgb(214, 20, 85);
    color: white;
    margin-right: 430px;

}
#inputvalue button:hover{
    background-color: white;
    color:rgb(214, 20, 85);

}
#inputvalue h2{
    
    font-family: 'Roboto', sans-serif;
    color: rgb(14, 13, 13);
    font-size: xx-large;
    margin-right :360px; 

}


/* #social h2{
    font-family: 'Roboto', sans-serif;
    color: rgb(14, 13, 13);
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 130px;
    margin-bottom: 23px;



} */

#social{
  display: flex;
  /* align-items: center; */
  justify-content: center;
    /* top: 1px; */
}
#social a{
    /* width: 300px; */
    font-size: 50px;
    /* letter-spacing: 90px; */
    color:rgb(214, 20, 85);
    margin-bottom: 60px;
    
    

}

#social .fa{
    padding-right:110px;
}
#social a:hover{
    /* font-size:52px; */
    color:rgb(250, 9, 89);
}

footer{
     background-color:rgb(214, 20, 85);
     height: 55px;

}

footer p{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 21px;
    font-size: 15px;
}













/* /////////////////////////////////////////////// */
.slider{
    /* max-width: 1000px; */
    max-width: 1500px;
    display: flex;
    /* align-items: center; */
    text-align: center;
  
    /* margin-left: 120px; */
    
}

.slider .card{
    background:#fff;
    flex: 1;
    margin: 0 10px;
    height: 350px;
}

.slider .card .img{
    height: 200px;
    width: 100%;
}

.slider .card .img img{
    height: 200px;
    width:100%;

    object-fit: cover;
}

.card .content .title{
    font-size: 25px;
    font-weight: 600;
    /* color: rgb(214, 20, 85); */
    font-family: 'Roboto', sans-serif;

}

.card .content .btn{
    display: block;
    /* text-align: left; */
    margin: 10px 0;

   
}

.card .content .btn button{
    border:2px solid rgb(214, 20, 85);

    background-color: rgb(214, 20, 85);
    color: white;
    padding: 6px;
    cursor: pointer;
    border-radius: 4px;

}

.card .content .btn a :hover{
    background-color: white;
    color:  rgb(214, 20, 85);

}





/* Responsive css */

@media (max-width:986px) {
    .img-container img{
        margin-left: 100px;
    }
    .about-container{
        margin: 0px 0px 80px 90px;
    }
    .about-container h2{
        padding-right:0px;

    }
    .about-container a{
        margin: 20px 270px 0px 0px;
    }
    
}

@media (min-width:1003px) {
    .about-container a{
        margin: 20px 270px 0px 0px;
    }

}
@media (min-width:994px) and (max-width:1251px){
    .about-container a{
        margin: 20px 270px 0px 0px;
    }

}
@media (min-width:1024px) and (max-width:1248px){
    .about-container a{
        margin: 20px 290px 0px 0px;
    }

}
@media (min-width:1269px){
    .about-container a{
        margin: 20px 387px 0px 0px;
    }

}
@media (min-width:989px) and (max-width:992px){
    .about-container a{
        margin: 20px 290px 0px 0px;
    }

}
@media (max-width:850px){
    
.img-container img{
    width: 200px;
    
}
.container{
    padding-left: 90px;
    width: 60%;
}
.about-container a{
    margin: 20px 30px 0px 0px;
}

.about-container p{
    font-size: 12px;
}
.about-container h2{
    font-size: 20px;
}
}


@media (max-width:826px)
{
    #menu{
        margin-left: 200px;
    }
    #about{
        text-align: center;
    }
    .img-container img{
        width: 150px;
    }

    .content p{
        font-size: 10px;

    }
    .card .content .title{
        font-size: 13px;
    }
    .container{

        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .about-container p{
        width: 350px;
    }
    .about-container h2{
        width: 350px;
    }

    
}


@media (max-width:600px) {
    .about-container p{
        font-size: 10px;
        
    }
    .about-container h2{
        font-size: 18px;
    }
    .container{
        padding-left: 23px;
    }
    
}


    
@media (max-width:475px){
    .slider .card{
        background:#fff;
        flex: 1;
        margin: 0 10px;
        height: 250px;
    }
    
    .slider .card .img{
        height: 150px;
        width: 100%;
    }
    
    .slider .card .img img{
        height: 150px;
        
    
        object-fit: cover;
    }
    .card .content .btn button{
        width: 60px;
        height: 25px;
        font-size: 8px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .card .content .title {
        font-size: 10px;
    }
    .content p{
        font-size: 7px;
    }

        
}

@media (max-width:448px){
    .slider .card{
        background:#fff;
        flex: 1;
        margin: 0 10px;
        height: 200px;
    }
    
    .slider .card .img{
        height: 100px;
        width: 100%;
    }
    
    .slider .card .img img{
        height: 100px;
        
    
        object-fit: cover;
    }
    .card .content .btn button{
        width: 60px;
        height: 25px;
        font-size: 8px;
        padding-top: 0px;
    }

}



@media (max-width:1230) {
    #inputvalue h2{
        margin-right: 100px;
    }
    
}
 



/* #contact{
    display: none;
}  */